// ==========================================
// Reset everything

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }


// ==========================================
// 	MIXINS

	@mixin border-radius($radius) {
		border-radius: $radius;
		-moz-border-radius: $radius;
		-webkit-border-radius: $radius;
	}

	@mixin box-shadow($radius, $color) {
		-moz-box-shadow: 0 0 $radius $color;
		-webkit-box-shadow: 0 0 $radius $color;
		box-shadow: 0 0 $radius $color;
	}
	

// ==========================================
// 	BODY

	html {
		background: #111;
		body {
			width: 1030px;
			margin: 80px auto;
		}
	}


// ==========================================
// 	HEADING

	#header {
		text-align: center;
		border-bottom: 1px solid #222;
		margin: 0 0 160px 0;
		h1 {
			display: inline-block;
		  position: relative;
		  top: 35px;
			background: #111;
			padding: 0 30px;	
			font-family: "MarkerfieldRegular", Helvetica, sans-serif;
			font-size: 80px;
			color: #333;
			text-transform: uppercase;
			a {
				color: #444;
				text-decoration: none;
				&:hover { color: #555; }
			}
		}
	}
	
	
// ==========================================
// 	PHOTOS

	ol#photos {
		li {
			margin: 0 0 120px 0;
			width: 100%;
			a.photo {
				display: block;
				float: left;
				border: 5px solid #000;
				@include border-radius(10px);
				@include box-shadow(20px, #000);
				margin: 0 0 35px 0;
				&:hover {
					@include box-shadow(40px, #000);
				}
				img {
					vertical-align: bottom;
					opacity: 0;
				}
			}
			.details {
				float: left;
				width: 700px;
				margin-left: 40px;
				.date {
					color: #333;
					font: italic 14px Helvetica, sans-serif;
					margin: 0 0 5px 0;
				}
				h2 {
					font-family: Helvetica, sans-serif;
					font-size: 30px;
					margin: 0 0 20px;
					text-shadow: #000 1px 1px 0;
					a {
						color: #CCC;
						text-decoration: none;
						a:hover { color: #FFF; }
					}
				}
				.description {
					font: normal 18px/26px 'PT Serif', Georgia, serif;
					color: #777;
					width: 700px;
					text-shadow: #000 1px 1px 0;
					a {
						color: #CCC;
						text-decoration: none;
					}
					p { margin-bottom: 12px; }
				}
			}
			.map {
				width: 200px;
				margin: 12px 40px 0 0;
				float: right;
				a img {
					border: 1px solid #000;
					@include border-radius(10px);
					@include box-shadow(5px, #000);
					opacity: 0.4;
				}
				a:hover img { opacity: 1; }
			}
		}
	}
